.window{
    
    background-color: rgb(0, 0, 0);
    border-radius: 0.75rem;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;

    color: wheat;

    .nav{
        padding-inline: 0.75rem;
        padding-block: 0.5rem;
        display: flex;
        gap: 2rem;
        align-items: center;
        border-bottom: 1px solid whitesmoke;
        .dots{
            display: flex;
            gap: 0.29rem;

            .dot{
            height: 12px;
            width: 12px;
            background-color: #fff;
            border-radius: 100%;
        }
        .red{
            background-color: red;
        }
        .yellow{
            background-color: yellow;
        }
        .green{
            background-color: green;
        }
        }
        
    }
    .main-content{
        height: 100%;
    }

    *::-webkit-scrollbar{ 
        width: 8px;
        
    }
    *::-webkit-scrollbar-thumb{
        background-color: #5e5c5c;
        border-radius: 4px;
    }

}